[submodule "lmeditor"]
	path = lmeditor
	url = ../../Lawrencemm/lmeditor.git
[submodule "lmlib"]
	path = lmlib
	url = ../../Lawrencemm/lmlib.git
[submodule "lmengine"]
	path = lmengine
	url = ../../Lawrencemm/lmengine.git
